%table{:class=>"table table-striped table-condensed table-matches"}
  %thead
    %tr
      %th{:colspan=>"2"}= t('table.hero')
      %th= t('table.result')
      %th= t('table.type')
      %th= t('table.duration')
      %th= t('table.kda')
  %tbody
    - @matches.each do |match|
      %tr
        %td
          =image_tag match.player_by_user(@user).hero.picture_url, :style=>'width:43px;height:24px;'
        %td
          =link_to match.player_by_user(@user).hero.localized_name, match
        %td
          - if match.player_by_user(@user).win?
            <span class="label label-success">
            =t('table.won_match')
            </span>
          - else
            <span class="label label-danger">
            =t('table.lose_match')
            </span>
        %td
          =match.lobby ? match.lobby.name : ""
        %td
          =duration_format match.duration
        %td
          =match.player_by_user(@user).kills
          \/
          =match.player_by_user(@user).deaths
          \/
          =match.player_by_user(@user).assists

=paginate @matches