
%table{:class=>"table table-striped table-condensed table-matches"}
  %thead
    %tr
      %th{:colspan=>"2"}= t('table.hero')
      %th= t('table.result')
      %th= t('table.type')
      %th= t('table.duration')
      %th= t('table.kda')
      - if detail
        %th= t('table.kda_ratio')
        %th= t('table.gold')
        %th= t('table.items')
  %tbody
    - @matches.each do |match|
      %tr
        %td
          =image_tag match.player_by_user(@user).hero.picture_url
        %td
          =link_to match.player_by_user(@user).hero.localized_name, match
        %td
          - if match.player_by_user(@user).win?
            %span{class: "label label-success"}=t('table.won_match')
          - else
            %span{class: "label label-danger"}=t('table.lose_match')
        %td
          =match.lobby ? match.lobby.name : ""
        %td
          =duration_format match.duration
        %td
          =match.player_by_user(@user).kills
          \/
          =match.player_by_user(@user).deaths
          \/
          =match.player_by_user(@user).assists
        - if detail
          %td
            = kda_format(match.player_by_user(@user).kda)
          %td
            = how_k(match.player_by_user(@user).gold_earned)
          %td
            - match.player_by_user(@user).items.each do |item|
              = image_tag item.picture_url

=paginate @matches if defined?(@matches.total_pages)