=render 'user_overview'
=render 'tabs'
.media
  .media-left
    =image_tag @hero.picture_url
  .media-body
    %h4.media-heading
      =@hero.localized_name
%br

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          =t('table.in_my_team')

      %ul.list-group
        %li.list-group-item
          %span.badge= @my_team[:count]
          =t('table.game_count')
        %li.list-group-item
          %span.badge= kda_format(@my_team[:kda])
          =t('table.kda_ratio')
        %li.list-group-item
          %span.badge= @my_team[:last_hits]
          =t('table.lh_tip')
        %li.list-group-item
          %span.badge= @my_team[:hero_damage]
          =t('table.hd_tip')
        %li.list-group-item
          %span.badge= number_with_delimiter @my_team[:gold_earned]
          =t('table.gold_tip')

  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          =t('table.in_enemy_team')

      %ul.list-group
        %li.list-group-item
          %span.badge= @enemy_team[:count]
          =t('table.game_count')
        %li.list-group-item
          %span.badge= kda_format(@enemy_team[:kda])
          =t('table.kda_ratio')
        %li.list-group-item
          %span.badge= @enemy_team[:last_hits]
          =t('table.lh_tip')
        %li.list-group-item
          %span.badge= @enemy_team[:hero_damage]
          =t('table.hd_tip')
        %li.list-group-item
          %span.badge= number_with_delimiter @enemy_team[:gold_earned]
          =t('table.gold_tip')
