= render 'user_overview'
= render 'tabs'

.row
  .col-md-8
    .panel.panel-default.panel-team-table
      .panel-heading
        %h3.panel-title
          = t('table.most_played_heroes')
      = render 'most_played_table'

    .panel.panel-default.panel-team-table
      .panel-heading
        %h3.panel-title
          = t('table.latest_matches')
      = render :partial => 'matches_table', :locals => {:detail => false}

  .col-md-4.right-column
    = render 'overview_table'

    = render :partial => 'right_table', :locals => { |
        :th1_title => t('table.lobby_type'),                       |
        :tr1_title => "Normal MM",                        |
        :tr2_title => "Ranked MM",                        |
        :tr1_matches => @user.normal_mm_matches,          |
        :tr2_matches => @user.ranked_mm_matches           |
      } |
    -#

    = render :partial => 'right_table', :locals => { |
        :th1_title => t('table.game_mode'),                       |
        :tr1_title => "All Pick",                        |
        :tr2_title => "Other",                        |
        :tr1_matches => @user.all_pick_matches,          |
        :tr2_matches => @user.game_mode_other_matches           |
      }  |
    -#

    = render :partial => 'right_table', :locals => { |
        :th1_title => t('table.faction'),                        |
        :tr1_title => "Radiant",                        |
        :tr2_title => "Dire",                           |
        :tr1_matches => @user.radiant_matches,          |
        :tr2_matches => @user.dire_matches,              |
      }     |
    -#

    = render :partial => 'right_table', :locals => { |
        :th1_title => t('table.region'),                        |
        :tr1_title => "Russia",                        |
        :tr2_title => "Other",                           |
        :tr1_matches => @user.russia_matches,          |
        :tr2_matches => @user.region_other_matches,              |
      }      |
    -#