.panel.panel-default.panel-match-overview
  .panel-heading
    %h3.panel-title
      Match ##{@match.id}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        /%th SKILL BRACKET
        %th= t('table.lobby_type')
        %th= t('table.game_mode')
        %th= t('table.region')
        %th= t('table.duration')
        %th= t('table.match_ended')
    %tbody
      %tr
        /%td
        %td= @match.lobby.name
        %td= @match.mode.name
        %td= @match.region.name
        %td= duration_format(@match.duration)
        %td= @match.end_time.to_s(:long)
.h-victory-team
  %h3{class: "#{@match.win}_color"}
    = t("team.#{@match.win}_win")

.panel.panel-default.panel-team-table
  .panel-heading
    %h3{class: "panel-title radiant_color"}= t('team.radiant')
  = render :partial => 'team_table', :locals => {:players => @match.radiant_players }
.panel.panel-default.panel-team-table
  .panel-heading
    %h3{class: "panel-title dire_color"}= t('team.dire')
  = render :partial => 'team_table', :locals => {:players => @match.dire_players }

.panel.panel-default.panel-team-table
  .panel-heading
    %h3{class: "panel-title radiant_color"}= t('team.radiant_builds')
  = render :partial => 'build_table', :locals => {:players => @match.radiant_players }

.panel.panel-default.panel-team-table
  .panel-heading
    %h3{class: "panel-title dire_color"}= t('team.dire_builds')
  = render :partial => 'build_table', :locals => {:players => @match.dire_players }