!!!
%html
  %head
    %title Dota
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    %link{:href=>"https://bootswatch.com/darkly/bootstrap.css", :rel=>"stylesheet"}
    %script{:src => "https://code.jquery.com/jquery-2.1.4.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Dota2Stat", root_path
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to current_user.nickname, player_path(current_user.account_id)
              %li{:class=>:dropdown}
                %a{href: "", class: "dropdown-toggle", "data-toggle": "dropdown", role: "button", "aria-haspopup": "true", "aria-expanded": "false"}
                  Language
                  %span{class: :caret}
                %ul{class: "dropdown-menu"}
                  %li
                    %a{href: "/en"} en
                    %a{href: "/ru"} ru
              %li= link_to(t("devise.links.sign_out"), destroy_user_session_path, :method => :delete)
            - else
              %li= link_to t("devise.links.sign_in"), user_omniauth_authorize_path(:steam)
    / /.nav-collapse
    %br/
    %br/
    %br/
    %br/
    .container
      - if notice
        .alert.alert-success{:role => "alert"}= notice
      - if alert
        .alert.alert-danger{:role => "alert"}= alert
      .panel.panel-default
        = yield